*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-size: 62.5%;
 }
 body,html{
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: white;
    overflow-wrap: normal;
    background-size: cover;
    background-position: center;
    /* background-repeat:unset; */
 }
 body{
    font: size 1.4rem; ;
    padding: 0;
 }
 .navc{
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
 } 
 header{
    margin-top: 10px;
  /* background:rgb(40, 150, 187); */
  font-size: larger;
 }
 a{
    color: white;
    text-decoration: none;
 }
 ul{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-flow:wrap;
    /* border: 1px solid black; */
    /* background-color: white; */
    height:fit-content;
   padding: 8px;
   border-radius: 4px;
  /* position: fixed; */
  /* left: 67%; */
  /* z-index: 1;
  opacity: 0.5; */
   }
   
   li{
      font-size: 20px;
      list-style: none;
      transform: scale(1.1);
      border-radius: 4px;
      padding: 5px;
      color: white;
 }
 nav li{
   border-bottom:0.4rem var(transparent)solid;
   /* transition:0.3s ease-in-out; */
 }
 nav li:hover{
  /* border-bottom: 0.1rem white solid; */
  /* transition:0.3s ease-in-out; */
  /* transform: scale(1.2); */
  background-color:dimgray ; 
  opacity: 0.8;
 }
#ma{
   display: flex;
   gap: 200px;
   align-items: center;
   padding: 10px;
   margin-bottom: 8rem;
 }
 .mp{
   border-radius: 50px;
 }
 .mt{
   display: grid;
   /* place-items: center; */
 }
 #ma h2{
   font-size: 4rem;
   font-weight: bold;
   overflow: hidden;
   border-right: 0.1em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   animation: typing 5s steps(40,end),blink-caret 0.75s step-end infinite ;
 }
 @keyframes typing {
   from{
      width: 0;
   }
   to{
      width: 100%;
   }
 }
 @keyframes blink-caret {
   from,
   to{ 
      border-color: transparent;
   }
   50% {
      border-color:orange;
   }
  
 }
 ::-webkit-scrollbar {
   display: none;
}
#project h2{
   font-size: 4rem;
   text-align: center;
   letter-spacing: 0.5rem;
    
}
.project_container{
  display:flex;
  gap: 2rem;
  align-items: center;
  background-image: url(s.jpg);
  padding:25px;
  background-attachment:fixed;
  overflow: auto;
  background-size:cover;
  height: 70vh;
}
#project h3{
   font-size: 2.5rem;
}
.card{
   /* display: flex; */
   height: 25rem;
   flex-direction: column;
   border-radius: 3rem;
   overflow:hidden;
   transition:0.1s ease-in-out;
   width: 35rem;
   flex-wrap: wrap;
}



.card:hover{
   transform: scale(1.05);
   transition:1s ease-in-out;
}
.card:hover img{
   transform: scale(1.05);
   transition:0.2s ease-in-out;
   opacity: 0.8;
}
.card_content{
   padding: 2rem;
   position: relative;
   top: -6.5rem;
   margin-bottom: -6.5rem;
   transition: 0.5s ease-in-out;
   text-align: center;
   color: rgb(40, 13, 144);
   transform: translateY(20rem);

}
.card:hover .card_content{
   background: white;
   color: black;
   transform: translateY(0px);
}
#contact h2{
   font-size: 6rem;
   text-align: center;
   margin-bottom:2 rem;
}
#contact .container{
   height: 50vh;
   display: flex;
   flex-direction: column;
   gap: 4rem;
   justify-content: center;
   background-image: url(k.jpg);
   background-attachment: fixed;   
   background-size: cover;
}
.top_c{
   max-width: 800px;
   display: grid;
   gap: 2rem;
   margin: 0 auto;
   grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}
.contaw{
   display: flex;
   gap: 1rem;
   align-items: center;
}
.contaw a:hover{
   transform: scale(1.1);
   color: orange;
   text-decoration: underline;
}
.contaw i{
   font-size: 3rem;

}
.contaw h3{
   font-size: 3rem;
   font-weight: bold;

}
.bottom_c{
   max-width: 400px;
   gap: 1rem;
   display: grid;
   margin: 0 auto;
   grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
   /* justify-content: center; */
}
footer{
   /* background: #000; */
   padding: 2rem;
   color: white;
   font-size: 1.6rem;
   text-align:center;
}
@media (max-width: 900px) {
html {
   font-size: 30%;
}
#ma{
   display: flex;
}
.mp{
   display: grid;
   place-items:center;
}
}
.bot{
   color:rgb(53, 72, 66);
   margin-left:10rem;
}
 .ani{
   margin: auto;
   font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   overflow: auto;
   background: linear-gradient(315deg, rgb(180, 25, 170) 3%, rgba(60,132,206,1) 38%, rgb(26, 205, 193) 68%, rgba(255,25,25,1) 98%);
   animation: gradient 15s ease infinite;
   background-size: 400% 400%;
   background-attachment: fixed;
}

@keyframes gradient {
   0% {
       background-position: 0% 0%;
   }
   50% {
       background-position: 100% 100%;
   }
   100% {
       background-position: 0% 0%;
   }
}

.wave {
   background: rgb(255 255 255 / 55%);
   border-radius: 1000% 1000% 0 0;
   position: fixed;
   width: 200%;
   height: 12em;
   animation: wave 10s -3s linear infinite;
   transform: translate3d(0, 0, 0);
   opacity: 0.8;
   bottom: 0;
   left: 0;
   z-index: -1;
}

.wave:nth-of-type(2) {
   bottom: -1.25em;
   animation: wave 18s linear reverse infinite;
   opacity: 0.8;
}

.wave:nth-of-type(3) {
   bottom: -2.5em;
   animation: wave 20s -1s reverse infinite;
   opacity: 0.9;
}

@keyframes wave {
   2% {
       transform: translateX(1);
   }

   25% {
       transform: translateX(-25%);
   }

   50% {
       transform: translateX(-50%);
   }

   75% {
       transform: translateX(-25%);
   }

   100% {
       transform: translateX(1);
   }
}
.logo:hover{
    /* transform: scale3d(1.2,1.2,1.2); */
    transform: scale(1.1);
}
#res{
   margin-top: 60px;
   /* size: 50px; */
   font-size: 3rem;
   letter-spacing: 4px;
   display: flex;
   justify-content: center;
   align-items:center;
   /* border: 2px solid black; */
   height: 200px;
}
#res a:hover{
   color:orange;
}
a{
   display: flex;

}
a h3{
   padding:0px 5px;
}
